html {
   font-family: sans-serif;
   background-color: rgb(59, 119, 119);
}
body {
   font-family: helvetica, sans-serif;
   width: 350px;
   max-width: 800px;
   min-width: 480px;
   margin: 7em auto;
   padding: 70px;
   background-color: rgb(228, 228, 228);
   text-align: center;
   font-size: 20px;
}
label {
   font-weight: bold;  
}
div {
   padding-bottom: 20px;
}
input[type="text"] {
   padding: 5px;
   width: 150px;
}
p {
   background: #FFC125;
   color: #5E2612;
   padding: 10px;
   visibility: hidden;
}